<%= content_for :title, "#{@product.name}" %>

<h1><%= @product.name %></h1>
<h2><%= "$#{sprintf('%.2f', @product.price)}" %></h2>

<div class="row">
  <%= image_tag @product.image.url(:medium) %>
</div>
<div class="row">
  <%= @product.description %>
</div>
<div class="row">
  <%= link_to "Delete", product_path(@product), method: "delete" %>
</div>
