<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title)+" | Store" : "Store" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-text pull-left">
      <%= link_to "Products", products_path %>
    </div>
    <div class="navbar-text">
      <div class="center-bold">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
    </div>
    <div class="navbar-text pull-right">
      <% if current_user %>
        <% if current_user.owner? %>
          <%= link_to "Add Admins", new_admin_path %>  |
          <%= link_to "All Admins", admins_path %>  |
        <% end %>
        <%= link_to "Add Product", new_product_path %>  |
        Logged in as <%= current_user.username %>  |
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
    </div>
  </div>
</div>

<div class="container" id="main">
  <%= yield %>
</div>

</body>
</html>
