<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar navbar-text">
    <center>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </center>
  </div>
  <div class="navbar navbar-text pull-right">
    <% if current_user %>
      <%= link_to "Logout", logout_path %>
      <%= link_to "Add Product", new_product_path %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>

  </div>

<%= yield %>
</div>

</body>
</html>
