<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title)+" | Store" : "Store" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="navbar navbar-text">
      <center>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </center>
    </div>
    <div class="navbar navbar-text pull-right">
      <% if current_user %>
        <% if current_user.owner? %>
          <%= link_to "Add Admins", new_admin_path %>  |
          <%= link_to "All Admins", admins_path %>  |
        <% end %>
        <%= link_to "Add Product", new_product_path %>  |
        Logged in as <%= current_user.username %>  |
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
    </div>
  </div>

  <%= yield %>
</div>

</body>
</html>
